.GameList {
    background-color: rgb(209, 209, 209);
    width: 60vw;
    margin: 0 auto;
    border-radius: 10px;
}

.GameList * {
    font-size: 3rem;
}

.GameList button {
    width: fit-content;
}

li {
    display: flex;
    flex-direction: row;
    margin-top: 5px;

}

li div {
    margin: 10px 0;
}

li div {
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.bold {
    font-weight: bold;
}

ul li:nth-child(even) {
    background-color: rgb(134, 133, 133);
}

li img {
    height: 3rem;
    margin: 2rem 1rem;
    cursor: pointer;
}

button {
    margin: 10px 40px;
}